/*======goblal==========*/
body {
    font-family: "Rubik", sans-serif;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  figcaption {
    font-family: "Combo", cursive;
  }
  

  header nav ul {
    list-style-type: none ;
    margin: 0;
    padding: 0 ;
    overflow: hidden;
    background-color: #424942;

}

header nav ul{
    display: flex;
    justify-content: flex-end;
}

header nav ul li{
    display: block;

}

header nav ul li a {
    display: block;
    color: white;
    padding: 14px 16px;
    text-decoration: none;
}

header nav ul li a:hover {
    background-color: #3b5998;
}

.biography-card-img{grid-area: img;}
.biography-card-header{grid-area: head;}
.biography-card-profile{grid-area: pro;}
.biography-card-description{grid-area: des;}

.biography-card{
    display: grid;
    grid-template-areas: 
    'img img head head head head'
    'img img pro pro pro pro'
    'img img des des des des';
    grid-gap: 10px;
    grid-template-rows: 20px 40px auto;
}